{% extends "base.html.twig" %}

{% block body %}
    <!-- site header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="{{path('app_home')}}">
                RNTL
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a class="smoothscroll" href="#intro" title="intro">Intro</a></li>
                <li><a class="smoothscroll" href="#about" title="about">{{"about"|trans}}</a></li>
                <li><a class="smoothscroll" href="#services" title="services">{{"services"|trans}}</a></li>
                <li><a class="smoothscroll" href="#works" title="works">{{"works"|trans}}</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact us">Contact</a></li>	
            </ul>

            <ul class="header-social">
                <li><a href="https://www.facebook.com/tetuaoro" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/tetuaoro" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#intro"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#intro"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">

        <div class="row intro-content">

            <div class="column large-9 mob-full intro-text">
                <h3>{{"h3.title"|trans}}</h3>
                <h1>
                    {{"h1.title"|trans|raw}}
                </h1>
            </div>

            <div class="intro-scroll">
                <a href="#about" class="intro-scroll-link smoothscroll">
                    {{"var.scroll-for-more"|trans}}
                </a>
            </div>

            <div class="intro-grid"></div>
            <div class="intro-pic"></div>

        </div> <!-- end row -->

    </section> <!-- end intro -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="about-me">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">{{"h2.title.me"|trans}}</h2>
                </div>
            </div>

            <div class="row about-me__content" data-aos="fade-up">
                <div class="column large-full about-me__text">
                    <p class="lead">{{"p.lead"|trans|raw}}</p>

                    <p>{{"p.desc.1"|trans|raw}}</p>

                    <p>{{"p.desc.2"|trans|raw}}</p>

                    <p>{{"p.desc.3"|trans|raw}}</p>
                </div>
            </div>
    
            <div class="row about-me__buttons">
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--stroke full-width">{{"var.hire-me"|trans}}</a>
                </div>
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--primary full-width">{{"var.download-cv"|trans}}</a>
                </div>
            </div>

        </div> <!-- end about-me -->

        <div class="about-experience">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">{{"h2.title.exp"|trans}}</h2>
                </div>
            </div>

            <div class="row about-experience__timeline">

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--work"></span>
                        </div>

                        {% for i in range(0,("timelines1"|translength)) %}
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <p class="timeline__timeframe">{{("timelines1." ~ i ~ ".timeframe")|trans}}</p>
                                    <h3 class="item-title">{{("timelines1." ~ i ~ ".title")|trans}}</h3>
                                    <h5>{{("timelines1." ~ i ~ ".h5")|trans}}</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>{{("timelines1." ~ i ~ ".desc")|trans|raw}}</p>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--education"></span>
                        </div>

                        {% for i in range(0,("timelines2"|translength)) %}
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <p class="timeline__timeframe">{{("timelines2." ~ i ~ ".timeframe")|trans}}</p>
                                    <h3 class="item-title">{{("timelines2." ~ i ~ ".title")|trans}}</h3>
                                    <h5>{{("timelines2." ~ i ~ ".h5")|trans}}</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>{{("timelines2." ~ i ~ ".desc")|trans}}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div> <!-- end about-experience -->

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id="services" class="s-services ss-dark target-section lazyload" data-bg="{{asset('images/services-bg.jpg')}}">

        <div class="shadow-overlay"></div>

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">Capabilities</h2>

                <p class="section-desc">
                    My passion and goal is to help you make your business standout.
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="row services-list block-large-1-3 block-medium-1-2 block-tab-full">

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Brand Identity</h4>
                    <p>
                    Sit ut cum molestiae. Dolore ducimus qui quasi. Fugiat consequatur sit vel illum vel et 
                    a delectus. Vel sequi vitae voluptatem perspiciatis eligendi. Voluptatibus optio natus 
                    asperiores est commodi amet quia architecto. Dolores necessitatibus et.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Illustration</h4>
                    <p>
                    Sit ut cum molestiae. Dolore ducimus qui quasi. Fugiat consequatur sit vel illum vel et 
                    a delectus. Vel sequi vitae voluptatem perspiciatis eligendi. Voluptatibus optio natus 
                    asperiores est commodi amet quia architecto. Dolores necessitatibus et.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Web Design</h4>
                    <p>
                    Sit ut cum molestiae. Dolore ducimus qui quasi. Fugiat consequatur sit vel illum vel et 
                    a delectus. Vel sequi vitae voluptatem perspiciatis eligendi. Voluptatibus optio natus 
                    asperiores est commodi amet quia architecto. Dolores necessitatibus et.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Product Strategy</h4>
                    <p>
                    Sit ut cum molestiae. Dolore ducimus qui quasi. Fugiat consequatur sit vel illum vel et 
                    a delectus. Vel sequi vitae voluptatem perspiciatis eligendi. Voluptatibus optio natus 
                    asperiores est commodi amet quia architecto. Dolores necessitatibus et.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">UI/UX Design</h4>
                    <p>
                    Sit ut cum molestiae. Dolore ducimus qui quasi. Fugiat consequatur sit vel illum vel et 
                    a delectus. Vel sequi vitae voluptatem perspiciatis eligendi. Voluptatibus optio natus 
                    asperiores est commodi amet quia architecto. Dolores necessitatibus et.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Mobile Design</h4>
                    <p>
                    Sit ut cum molestiae. Dolore ducimus qui quasi. Fugiat consequatur sit vel illum vel et 
                    a delectus. Vel sequi vitae voluptatem perspiciatis eligendi. Voluptatibus optio natus 
                    asperiores est commodi amet quia architecto. Dolores necessitatibus et.
                    </p>
                </div>
            </div>

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- CTA
    ================================================== -->
    <section class="s-cta ss-dark">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-desc">
                    Need a great reliable web hosting?
                </h2>
            </div>
        </div> <!-- end heading-block -->

        <div class="row cta-content" data-aos="fade-up">
            <div class="column large-full">
                <p>
                We highly recommend <a href="https://www.dreamhost.com/r.cgi?287326">DreamHost</a>.
                Powerful web and Wordpress hosting. Guaranteed.
                Starting at $2.95 per month.
                </p>

                <a href="https://www.dreamhost.com/r.cgi?287326" class="btn full-width">Get Started</a>
            </div>
        </div> <!-- end ad-content -->

    </section> <!-- end s-cta -->


    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">Selected Works</h2>
                <p class="section-desc">
                    Here are some of my selected works I have done lately. Feel free to 
                    check them out.
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="masonry-wrap">

            <div class="masonry">
                <div class="grid-sizer"></div>
    
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="{{asset('images/portfolio/gallery/g-city-building.jpg')}}" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                <img class="lazyload" data-src="{{asset('images/portfolio/city-building.jpg')}}" 
                                     data-srcset="{{asset('images/portfolio/city-building.jpg') ~ ' 1x, ' ~ asset('images/portfolio/city-building@2x.jpg') ~ ' 2x'}}" alt="">
                            </a>    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank" rel="noopener noreferrer"></a>
                        </div>
    
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                City Building
                            </h4>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>
    
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->
    
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="{{asset('images/portfolio/gallery/g-woodcraft.jpg')}}" class="thumb-link" title="Woodcraft" data-size="1050x700">
                                <img class="lazyload" data-src="{{asset('images/portfolio/woodcraft.jpg')}}" 
                                     data-srcset="{{asset('images/portfolio/woodcraft.jpg') ~ ' 1x, ' ~ asset('images/portfolio/woodcraft@2x.jpg') ~ ' 2x'}}" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank" rel="noopener noreferrer"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Woodcraft
                            </h4>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="{{asset('images/portfolio/gallery/g-beetle.jpg')}}" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img class="lazyload" data-src="{{asset('images/portfolio/the-beetle.jpg')}}"
                                     data-srcset="{{asset('images/portfolio/the-beetle.jpg') ~ ' 1x, ' ~ asset('images/portfolio/the-beetle@2x.jpg') ~ ' 2x'}}" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank" rel="noopener noreferrer"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                The Beetle
                            </h4>
                            <p class="item-folio__cat">
                                Web Development
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="{{asset('images/portfolio/gallery/g-shutterbug.jpg')}}" class="thumb-link" title="Grow Green" data-size="1050x700">
                                <img class="lazyload" data-src="{{asset('images/portfolio/shutterbug.jpg')}}" 
                                     data-srcset="{{asset('images/portfolio/shutterbug.jpg') ~ ' 1x, ' ~ asset('images/portfolio/shutterbug@2x.jpg') ~  ' 2x'}}" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank" rel="noopener noreferrer"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Shutterbug
                            </h4>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="{{asset('images/portfolio/gallery/g-lamp.jpg')}}" class="thumb-link" title="Guitarist" data-size="1050x700">
                                <img class="lazyload" data-src="{{asset('images/portfolio/lamp.jpg')}}" 
                                     data-srcset="{{asset('images/portfolio/lamp.jpg') ~ ' 1x, ' ~ asset('images/portfolio/lamp@2x.jpg') ~ ' 2x'}}" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank" rel="noopener noreferrer"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Lamp
                            </h4>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->
        
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="{{asset('images/portfolio/gallery/g-fuji.jpg')}}" class="thumb-link" title="Palmeira" data-size="1050x700">
                                <img class="lazyload" data-src="{{asset('images/portfolio/fuji.jpg')}}"
                                     data-srcset="{{asset('images/portfolio/fuji.jpg') ~ ' 1x, ' ~ asset('images/portfolio/fuji@2x.jpg') ~ ' 2x'}}" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank" rel="noopener noreferrer"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Fuji
                            </h4>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

            </div> <!-- end masonry -->

        </div> <!-- end masonry-wrap -->

    </section> <!-- end s-work -->


    <!-- testimonies
    ================================================== -->
    <section class="s-testimonials">
    
        <div class="row testimonials" data-aos="fade-up">

            <div class="column large-full testimonials__slider">

                <div class="testimonials__slide">
                    <p>Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem. 
                    Explicabo a quaerat sint autem dolore ducimus ut consequatur neque.  Nisi dolores quaerat fuga rem nihil nostrum.
                    Laudantium quia consequatur molestias delectus culpa.</p>
                    <div class="testimonials__info">
                        <img class="lazyload" data-src="{{asset('images/avatars/user-02.jpg')}}" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Tim Cook</strong>
                            <span>CEO, Apple</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

                <div class="testimonials__slide">
                    <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                    Nisi eaque consequatur. Voluptatem dignissimos ut ducimus accusantium perspiciatis.
                        Quasi voluptas eius distinctio. Atque eos maxime.</p>
                    <div class="testimonials__info">
                        <img class="lazyload" data-src="{{asset('images/avatars/user-01.jpg')}}" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Sundar Pichai</strong>
                            <span>CEO, Google</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

                <div class="testimonials__slide">
                    <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.  
                    Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.
                    Voluptatem dignissimos ut.</p>
                    <div class="testimonials__info">
                        <img class="lazyload" data-src="{{asset('images/avatars/user-04.jpg')}}" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Satya Nadella</strong>
                            <span>CEO, Microsoft</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->
                
            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </section> <!-- end s-testimonials -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact ss-dark target-section">

        <div class="row heading-block" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading">Get In Touch</h2>
            </div>
        </div>

        <div class="row contact-main" data-aos="fade-up">
            <div class="column large-full">
                <p class="contact-email">
                    <a href="mailto:#0">hello@epitome.com</a>
                </p>

                <p class="section-desc">
                I'm happy to connect, listen and help. Let's work together and build
                something awesome. Let's turn your idea to an even greater product.
                <a href="mailto:#0">Email Me</a>.
                </p>
            </div>
        </div>

        <div class="row contact-infos" data-aos="fade-up" data-aos-anchor=".contact-main">

            <div class="column large-5 medium-full contact-phone">
                <h4>Call Me</h4>
                <a href="tel:197-543-2345">+197 543 2345</a>
            </div>

            <div class="column large-7 medium-full contact-social">
                <h4>Social</h4>
                <ul>
                    <li><a href="#0" title="Facebook">Facebook</a></li>
                    <li><a href="#0" title="Twitter">Twitter</a></li>
                    <li><a href="#0" title="Instagram">Instagram</a></li>
                </ul>
            </div>

        </div> <!-- end contact-infos -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="column large-full ss-copyright">
                <span>© Copyright Epitome 2019</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>            

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </div>
    </footer>


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->
{% endblock %}