{% extends "base.html.twig" %}

{% block body %}
    <!-- site header
    ================================================== -->
    <header class="s-header sticky">

        <div class="header-logo">
            <a class="site-logo" href="{{path('app_home')}}">
                RNTL
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a class="smoothscroll" href="#intro" title="intro">Intro</a></li>
                <li><a class="smoothscroll" href="#about" title="about">{{"header.about"|trans}}</a></li>
                <li><a class="smoothscroll" href="#services" title="services">{{"header.services"|trans}}</a></li>
                <li><a class="smoothscroll" href="#works" title="works">{{"header.works"|trans}}</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact us">Contact</a></li>	
            </ul>

            <ul class="header-social">
                <li><a href="https://www.facebook.com/tetuaoro" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/tetuaoro" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#intro"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#intro"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">

        <div class="row intro-content">

            <div class="column large-9 mob-full intro-text">
                <h3>{{"intro.h3.title"|trans}}</h3>
                <h1>
                    {{"intro.h1.title"|trans|raw}}
                </h1>
            </div>

            <div class="intro-scroll">
                <a href="#about" class="intro-scroll-link smoothscroll">
                    {{"var.scroll-for-more"|trans}}
                </a>
            </div>

            <div class="intro-grid"></div>
            <div class="intro-pic lazyload" data-bg="{{asset('images/hero-pic.webp')}}"></div>

        </div> <!-- end row -->

    </section> <!-- end intro -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="about-me">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">{{"about.h2.title.me"|trans}}</h2>
                </div>
            </div>

            <div class="row about-me__content" data-aos="fade-up">
                <div class="column large-full about-me__text">
                    <p class="lead">{{"about.p.lead"|trans|raw}}</p>

                    <p>{{"about.p.desc.1"|trans|raw}}</p>

                    <p>{{"about.p.desc.2"|trans|raw}}</p>

                    <p>{{"about.p.desc.3"|trans|raw}}</p>
                </div>
            </div>
    
            <div class="row about-me__buttons">
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--stroke full-width">{{"var.hire-me"|trans}}</a>
                </div>
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--primary full-width">{{"var.download-cv"|trans}}</a>
                </div>
            </div>

        </div> <!-- end about-me -->

        <div class="about-experience">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">{{"about.h2.title.exp"|trans}}</h2>
                </div>
            </div>

            <div class="row about-experience__timeline">

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--work"></span>
                        </div>

                        {% for i in range(0,("about.timelines1"|translength)) %}
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <p class="timeline__timeframe">{{("about.timelines1." ~ i ~ ".timeframe")|trans}}</p>
                                    <h3 class="item-title">{{("about.timelines1." ~ i ~ ".title")|trans}}</h3>
                                    <h5>{{("about.timelines1." ~ i ~ ".h5")|trans}}</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>{{("about.timelines1." ~ i ~ ".desc")|trans|raw}}</p>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--education"></span>
                        </div>

                        {% for i in range(0,("about.timelines2"|translength)) %}
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <p class="timeline__timeframe">{{("about.timelines2." ~ i ~ ".timeframe")|trans}}</p>
                                    <h3 class="item-title">{{("about.timelines2." ~ i ~ ".title")|trans}}</h3>
                                    <h5>{{("about.timelines2." ~ i ~ ".h5")|trans}}</h5>
                                </div>
                                <div class="timeline__desc">
                                    <p>{{("about.timelines2." ~ i ~ ".desc")|trans}}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div> <!-- end about-experience -->

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id="services" class="s-services ss-dark target-section lazyload" data-bg="{{asset('images/services-bg.jpg')}}">

        <div class="shadow-overlay"></div>

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">{{"services.h2.title"|trans}}</h2>

                <p class="section-desc">
                    {{"services.p.desc"|trans}}
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="row services-list block-large-1-3 block-medium-1-2 block-tab-full">

            {% for i in range(0,("services.lists"|translength)) %}
            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">{{("services.lists." ~ i ~ ".h4")|trans}}</h4>
                    <p>{{("services.lists." ~ i ~ ".p")|trans}}</p>
                </div>
            </div>
            {% endfor %}

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- CTA
    ================================================== -->
    <section class="s-cta ss-dark">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-desc">
                    {{"cta.h2.title"|trans}}
                </h2>
            </div>
        </div> <!-- end heading-block -->

        <div class="row cta-content" data-aos="fade-up">
            <div class="column large-full">
                <p>{{"cta.p.desc"|trans|raw}}</p>

                <a href="https://www.heroku.com/" class="btn full-width">{{"var.cta-button"|trans}}</a>
            </div>
        </div> <!-- end ad-content -->

    </section> <!-- end s-cta -->


    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">{{"works.h2.title"|trans}}</h2>
                <p class="section-desc">
                    {{"works.p.desc"|trans}}
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="masonry-wrap">

            <div class="masonry">
                <div class="grid-sizer"></div>
    
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="{{asset('images/portfolio/gallery/g-city-building.jpg')}}" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                <img class="lazyload" {{get_image_size(asset('images/portfolio/city-building.jpg'))}}  data-src="{{asset('images/portfolio/city-building.jpg')}}" 
                                     data-srcset="{{asset('images/portfolio/city-building.jpg') ~ ' 1x, ' ~ asset('images/portfolio/city-building@2x.jpg') ~ ' 2x'}}" alt="city building">
                            </a>    
                            <a href="http://www.ariifood.pf/" class="item-folio__project-link" title="Arii Food" target="_blank" rel="noopener noreferrer"></a>
                        </div>
    
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Arii Food
                            </h4>
                            <p class="item-folio__cat">
                                E-commerce
                            </p>
                        </div>
    
                        <div class="item-folio__caption">
                            <p>{{"works.arii-food.caption"|trans}}</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->
    
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="{{asset('images/portfolio/gallery/g-woodcraft.jpg')}}" class="thumb-link" title="Woodcraft" data-size="1050x700">
                                <img class="lazyload" {{get_image_size(asset('images/portfolio/woodcraft.jpg'))}} data-src="{{asset('images/portfolio/woodcraft.jpg')}}" 
                                     data-srcset="{{asset('images/portfolio/woodcraft.jpg') ~ ' 1x, ' ~ asset('images/portfolio/woodcraft@2x.jpg') ~ ' 2x'}}" alt="woodcraft">
                            </a>
                            <a href="https://www.chansondufenua.pf/" class="item-folio__project-link" title="Chanson du fenua" target="_blank" rel="noopener noreferrer"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Chanson du Fenua
                            </h4>
                            <p class="item-folio__cat">
                                Api
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>{{"works.chanson-du-fenua.caption"|trans}}</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="{{asset('images/portfolio/gallery/g-beetle.jpg')}}" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img class="lazyload" {{get_image_size(asset('images/portfolio/the-beetle.jpg'))}} data-src="{{asset('images/portfolio/the-beetle.jpg')}}"
                                     data-srcset="{{asset('images/portfolio/the-beetle.jpg') ~ ' 1x, ' ~ asset('images/portfolio/the-beetle@2x.jpg') ~ ' 2x'}}" alt="the beetle">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank" rel="noopener noreferrer"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Tarahura'a pereo'o
                            </h4>
                            <p class="item-folio__cat">
                                Développement web/api
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>{{"works.location.caption"|trans}}</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

            </div> <!-- end masonry -->

        </div> <!-- end masonry-wrap -->

    </section> <!-- end s-work -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact ss-dark target-section">

        <div class="row heading-block" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading">{{"contact.h2.title"|trans}}</h2>
            </div>
        </div>

        <div class="row contact-main" data-aos="fade-up">
            <div class="column large-full">
                <p class="contact-email">
                    <a href="mailto:contact@rao-nagos.pf">contact@rao-nagos.pf</a>
                </p>

                <p class="section-desc">
                {{"contact.p.desc"|trans}}
                <a href="mailto:contact@rao-nagos.pf">{{"var.email-me"|trans}}</a>.
                </p>
            </div>
        </div>

        <div class="row contact-infos" data-aos="fade-up" data-aos-anchor=".contact-main">

            <div class="column large-5 medium-full contact-phone">
                <h4>{{"contact.phone.h3"|trans}}</h4>
                <a href="tel:689-87-323795">+689 87 323795</a>
            </div>

            <div class="column large-7 medium-full contact-social">
                <h4>Social</h4>
                <ul>
                    <li><a href="https://www.facebook.com/tetuaoro" title="Facebook">Facebook</a></li>
                    <li><a href="https://www.twitter.com/tetuaoro" title="Twitter">Twitter</a></li>
                </ul>
            </div>

        </div> <!-- end contact-infos -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="column large-full ss-copyright">
                <span>© Copyright Rao Nagos 2021</span> 
                <span>Designer par <a href="http://www.rao-nagos.pf/">Rao Nagos</a></span>
            </div>            

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </div>
    </footer>


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->
{% endblock %}