<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Rao Nagos - Créateur de site web, digital designer et plus. Je m'appelle Tetuaoro Lenoir et suis developpeur fullstack en Polynésie Française.">
		<meta name="author" content="Tetuaoro Lenoir">
		<title>
			{% block title %}Rao Nagos - Tetuaoro Lenoir | Portfolio
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{asset('css/base.css')}}">
		<link rel="stylesheet" href="{{asset('css/vendor.css')}}">
		<link rel="stylesheet" href="{{asset('css/main.css')}}">

		<script src="{{asset('js/modernizr.js')}}"></script>
		<script src="{{asset('js/pace.min.js')}}"></script>

		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('favicon-32x32.png')}}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset('favicon-16x16.png')}}">
		<link rel="manifest" href="{{asset('site.webmanifest')}}">
        
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Corporation",
				"legalName":"Rao Nagos",
				"url": "http://www.rao-nagos.pf",
				"logo": "http://www.rao-nagos.pf/android-chrome-512x512.png",
				"founder": {
					"@type": "Person",
					"familyName": "Lenoir",
					"givenName": "Tetuaoro",
					"birthDate": "1995-11-05T06:19:36Z"
				},
				"foundingLocation": {
					"@type": "Place",
					"address": {
						"@type": "PostalAddress",
						"addressCountry": "PF",
						"postalCode": "98711",
						"addressRegion": "Paea",
						"addressLocality": "vallée Orofero"
					}
				},
				"foundingDate": "2020-07-24T06:19:36Z"
			}
		</script>
        
		</head>
		<body id="top">

			<div id="preloader">
				<div id="loader"></div>
			</div>

			<div class="header under-construction">Under Construction</div>

			{% block body %}{% endblock %}


			<script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
			<script src="{{asset('js/plugins.js')}}"></script>
			<script src="{{asset('js/main.js')}}"></script>
		</body>
	</html>
